RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

AddType application/xml-dtd .dtd

php_value upload_max_filesize 64M
php_value post_max_size       64M
php_value max_input_time      300

# add a trailing slash to /wp-admin
RewriteRule ^wp-admin$ wp-admin/ [R=301,L]

# Redirect to directories in tcp/docs early so that the url doesn't end up with wp-content/uploads in it.
RewriteCond %{HTTP_HOST} ^www.textcreationpartnership.org$ [OR]
RewriteCond %{HTTP_HOST} ^textcreationpartnership.org$
RewriteCond %{REQUEST_URI} .*[^/]$
RewriteCond %{DOCUMENT_ROOT}/wp-content/uploads/sites/11/$1 -d
RewriteRule ^(docs.*)$ $1/ [R=302,L]

# Rewrite the url here so that WP-managed content is used.
RewriteCond %{HTTP_HOST} ^www.textcreationpartnership.org$ [OR]
RewriteCond %{HTTP_HOST} ^textcreationpartnership.org$
RewriteRule ^docs/(index.html)?$ about-the-tcp/historical-documentation/tcp-production-files/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www.textcreationpartnership.org$ [OR]
RewriteCond %{HTTP_HOST} ^textcreationpartnership.org$
RewriteCond %{REQUEST_URI} ^/(docs.*)$
RewriteCond %{DOCUMENT_ROOT}/wp-content/uploads/sites/11/%1 -f [OR]
RewriteCond %{DOCUMENT_ROOT}/wp-content/uploads/sites/11/%1 -d
RewriteRule . wp-content/uploads/sites/11/%1 [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^(wp-(content|admin|includes).*) $1 [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(wp-(content|admin|includes).*) $2 [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(.*\.php)$ $2 [L]
RewriteRule ^(.*\.php)$ $1 [L]

RewriteCond %{HTTP_HOST} ^future-spaces.lib.umich.edu$
RewriteRule ^login / [L,R=302,QSA]

RewriteRule ^login wp-login.php [L,R=302,QSA]

RewriteCond %{REQUEST_URI} !^/server-info
RewriteCond %{REQUEST_URI} !^/server-status
RewriteCond %{REQUEST_URI} !^/cosign/valid
RewriteRule . index.php [L]
